html {
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

body {
    color: white;
}

h1 {
  font-size: 55px;
}

p {
    font-size: 25px;
}

 .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }
    
    .navbar-links {
        display: none;
    }  
    
    .navbar {
        flex-direction: column;
    }
}